<h2>Hello OpenCV.js</h2>
<input
  #fileInput
  type="file"
  multiple
  (change)="fileChange($event)"
/>
<div #container>
  <!-- <img *ngIf="blob" [blob-src]="blob" (load)="imageLoad($event)" /> -->
  <!-- <img style="display: none;"  src="/assets/img/test0.jpg" (load)="imageLoad($event)" /> -->
  <!-- <img id="image2" style="display: none;"  src="/assets/img/QQ截图20210928101803.jpg" (load)="image2Load($event)" /> -->
  <!-- <div class="caption">imageSrc <input type="file" id="fileInput" name="file" (change)="inputChange($event)" />
    </div> -->
  <!-- <canvas id="canvasOutput0"></canvas>
  <canvas id="canvasOutput1"></canvas>
  <canvas id="canvasOutput2"></canvas>
  <canvas id="canvasOutput3"></canvas>
  <canvas id="canvasOutput4"></canvas>
  <canvas id="canvasOutput5"></canvas>
  <canvas id="canvasOutput6"></canvas>
  <canvas id="canvasOutput7"></canvas>
  <canvas id="canvasOutput8"></canvas> -->
</div>
