<ion-header>
  <ion-toolbar></ion-toolbar>
</ion-header>
<ion-content [forceOverscroll]="false">
  <div class="image-container">
    <div class="image-cotainer-inner">
      <img [blob-src]="data?.blob" (load)="onImageLoad($event)" />
    </div>
    <div *ngIf="data?.blob" class="magnify" [class.hidden]="!moving" [class.right]="magnifyPositionRight">
      <img
        [blob-src]="data?.blob"
        [style.transform]="magnifyTransform"
        [style.width.px]="magnifyWidth"
      />
      <ion-icon name="add"></ion-icon>
    </div>
    <svg
      *ngIf="points"
      class="rect"
      version="1.1"
      xmlns="http://www.w3.org/2000/svg"
    >
      <polygon
        [attr.points]="polygon"
        style="fill: none; stroke: #f00; stroke-width: 1"
      />
      <circle
        *ngFor="let point of points"
        (touchstart)="onPointMousedown($event, point)"
        [attr.cx]="point.x"
        [attr.cy]="point.y"
        r="6"
        fill="#F00"
      />
    </svg>
  </div>
</ion-content>
<ion-footer></ion-footer>
