<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        text="{{ index + 1 }}/{{ preuploadService.data.length }}"
      ></ion-back-button>
    </ion-buttons>
    <ion-title> {{ data?.name }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [forceOverscroll]="false">
  <swiper
    *ngIf="inited"
    #swiperRef
    [initialSlide]="initIndex"
    (transitionEnd)="onSlideChange($event)"
    [virtual]="true"
    class="mySwiper"
  >
    <ng-template
      swiperSlide
      *ngFor="let item of preuploadService.data; let i = index"
    >
      <div *ngIf="item" class="image-container">
        <div class="image-cotainer-inner">
          <img
            [src]="item?.url | sanitizer: 'url'"
            (load)="onImageLoad($event, item, i)"
            id="image-{{ item.id }}"
          />
        </div>
        <ng-container *ngIf="index === i">
          <div
            class="magnify"
            [class.hidden]="!moving"
            [class.right]="magnifyPositionRight"
          >
            <img
              [src]="item?.url | sanitizer: 'url'"
              [style.transform]="magnifyTransform"
              [style.width.px]="magnifyWidth"
            />
            <ion-icon name="add"></ion-icon>
          </div>
          <svg
            *ngIf="points"
            class="rect"
            version="1.1"
            xmlns="http://www.w3.org/2000/svg"
          >
            <polygon
              [attr.points]="polygon"
              style="fill: none; stroke: #f00; stroke-width: 1"
            />
            <circle
              *ngFor="let point of points"
              [attr.cx]="point.x"
              [attr.cy]="point.y"
              r="6"
              fill="#F00"
            />
            <circle
              *ngFor="let point of points"
              (touchstart)="onPointMousedown($event, point)"
              (mousedown)="$event.stopPropagation()"
              [attr.cx]="point.x"
              [attr.cy]="point.y"
              r="12"
              fill="rgba(0,0,0,0)"
            />
          </svg>
        </ng-container>
      </div>
    </ng-template>
  </swiper>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-buttons *ngIf="data">
      <div><ion-icon name="color-filter-outline"></ion-icon>滤镜</div>
      <div (click)="remove()">
        <ion-icon name="trash-outline"></ion-icon>删除
      </div>
      <div>
        <ion-icon
          name="camera-outline"
          routerLink="/camera/{{ data.id }}"
        ></ion-icon
        >重拍
      </div>
      <div><ion-icon name="refresh-outline"></ion-icon>旋转</div>
      <!-- <a><ion-icon name="contract-outline"></ion-icon>自动</a>
      <a><ion-icon name="expand-outline"></ion-icon>全部</a> -->
      <ion-button fill="solid" routerLink="/preupload" routerDirection="back"
        >完成</ion-button
      >
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
