<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>{{ data?.name }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [forceOverscroll]="false">
  <swiper
    #swiperRef
    [initialSlide]="initIndex"
    (transitionEnd)="onSlideChange($event)"
    [virtual]="true"
    class="mySwiper"
  >
    <ng-template
      swiperSlide
      *ngFor="let item of preuploadService.data; let i = index"
    >
      <div *ngIf="item" class="image-container">
        <div class="image-cotainer-inner">
          <img
            [src]="item?.url | sanitizer: 'url'"
            (load)="onImageLoad($event, item, i)"
            id="image-{{ i }}"
          />
        </div>
        <ng-container *ngIf="index === i">
          <div
            class="magnify"
            [class.hidden]="!moving"
            [class.right]="magnifyPositionRight"
          >
            <img
              [src]="item?.url | sanitizer: 'url'"
              [style.transform]="magnifyTransform"
              [style.width.px]="magnifyWidth"
            />
            <ion-icon name="add"></ion-icon>
          </div>
          <svg
            *ngIf="points"
            class="rect"
            version="1.1"
            xmlns="http://www.w3.org/2000/svg"
          >
            <polygon
              [attr.points]="polygon"
              style="fill: none; stroke: #f00; stroke-width: 1"
            />
            <circle
              *ngFor="let point of points"
              [attr.cx]="point.x"
              [attr.cy]="point.y"
              r="6"
              fill="#F00"
            />
            <circle
              *ngFor="let point of points"
              (touchstart)="onPointMousedown($event, point)"
              (mousedown)="$event.stopPropagation()"
              [attr.cx]="point.x"
              [attr.cy]="point.y"
              r="12"
              fill="rgba(0,0,0,0)"
            />
          </svg>
        </ng-container>
      </div>
    </ng-template>
  </swiper>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-title size="small">Small Title above a Default Title</ion-title>
  </ion-toolbar>
</ion-footer>
