.image-container {
  height: 100%;
  width: 100%;
  padding: 20px;
  position: relative;
  .image-cotainer-inner {
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
  }
  img {
    max-height: 100%;
    max-width: 100%;
  }
  .rect {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
  }
}
