<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [text]="''"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ length }}个文件(共{{ size | fileSize }})</ion-title>
    <!-- <ion-buttons slot="end">
      <ion-button fill="clear" (click)="selectDir()">
        <ion-icon name="save"></ion-icon>
      </ion-button>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>
<ion-content #content>
  <div class="container">
    <div
      *ngFor="
        let item of preuploadService.data;
        trackBy: trackItems;
        let i = index
      "
      class="item"
      [attr.item-id]="item.id"
    >
      <div class="img-container" routerLink="edit" [queryParams]="{ index: i }">
        <!-- <div
          class="img-container"
          routerLink="/opencv-test"
          [queryParams]="{ id: item.id }"
        > -->
        <canvas [imageData]="item.dest || item.origin"></canvas>
        <!-- <img
          *ngIf="item.destUrl || item.url as url"
          [src]="url | sanitizer: 'url'"
        /> -->
      </div>
      <!-- <ion-thumbnail
          routerLink="edit"
          [queryParams]="{ id: item.id }"
        >
          <img [blob-src]="item.blob" />
        </ion-thumbnail> -->
      <a class="remove-btn" (click)="remove(item)">
        <ion-icon name="close"></ion-icon>
      </a>

      <!-- <ion-card-header>
          <ion-card-subtitle>Destination</ion-card-subtitle>
          <ion-card-title>Madison, WI</ion-card-title>
        </ion-card-header> -->
      <div (click)="rename(item)" class="file-name">
        <ion-input
          #nameInput
          *ngIf="renameId === item.id"
          [ngModel]="item.name"
          enterkeyhint="done"
          (ngModelChange)="editName = $event"
          (ionBlur)="renameEnd(item)"
          (keydown)="onKeydown(item, $event)"
        ></ion-input>
        <ng-container *ngIf="renameId !== item.id">
          {{ item.name }}.jpg</ng-container
        >
      </div>
      <!-- <div class="image-container">
        <img  appDbImage table="preuploadFile" [index]="item.id">
      </div>
      <div class="">

      </div> -->
    </div>
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <!-- <div style="display: flex">
      <ion-button color="light" fill="solid">上传到</ion-button>
      <ion-button color="primary" fill="solid">上传</ion-button>
    </div> -->

    <ion-buttons>
      <ion-button
        color="light"
        fill="solid"
        class="upload-to"
        (click)="selectDir()"
      >
        <span class="upload-to-inner">
          上传到：
          <a>{{ dir | fileName }}</a>
        </span>
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </ion-button>
      <ion-button color="primary" fill="solid" class="upload" (click)="save()"
        >上传</ion-button
      >
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
<div class="update-mask" *ngIf="uploading">
  <div class="progress-container">
    <ion-progress-bar
      [value]="uploaded / preuploadService.data.length"
    ></ion-progress-bar>
    <div>{{ uploaded }}/{{ preuploadService.data.length }}</div>
  </div>
</div>
