.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px;
}

.item {
  width: 50%;
}

ion-card {
  margin-inline: 6px;
  margin: 6px;
}

ion-thumbnail {
  height: 200px;
  width: 100%;
}

ion-card-content {
  padding: 5px;
  height: 60px;
}

.update-mask {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.2);
  }
  .progress-container {
    width: 200px;
    height: 80px;
    background: #f9f9f9;
    display: flex;
    align-items: center;
    padding: 30px;
    border-radius: 8px;
  }