<ion-menu side="start" menuId="first" contentId="main">
  <ion-content *ngIf="userInfo">
    <ion-list>
      <ion-item>
        <ion-avatar slot="start" class="ion-margin-start">
          <img [src]="userInfo.avatar_url" />
        </ion-avatar>
        <ion-label>{{ userInfo.baidu_name }}</ion-label>
      </ion-item>
      <ion-item (click)="update()">
        <ion-icon name="share-sharp" slot="start"></ion-icon>
        <ion-label>检查更新</ion-label>
        <ion-note slot="end">{{ version }}</ion-note>
      </ion-item>
      <ion-item (click)="logout()">
        <ion-icon name="exit" slot="start"></ion-icon>
        <ion-label>退出登录</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="first">
        <ion-avatar *ngIf="userInfo" style="height: 32px; width: 32px">
          <img [src]="userInfo.avatar_url" />
        </ion-avatar>
      </ion-menu-button>
    </ion-buttons>
    <ion-title>
      <ion-searchbar
        (ionChange)="search($event)"
        [debounce]="500"
        placeholder="搜索"
      ></ion-searchbar>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/camera">
        <ion-icon name="camera"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content #content id="main" class="ion-padding">
  <ion-list *ngIf="loading">
    <ion-item *ngFor="let skeleton of skeletons">
      <ion-thumbnail slot="start">
        <ion-skeleton-text></ion-skeleton-text>
      </ion-thumbnail>
      <ion-label>
        <h3>
          <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
  </ion-list>
  <ng-container *ngIf="!loading">
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <ion-list>
      <ion-item
        *ngFor="let item of fileService.fileList; let i = index"
        lines="none"
        routerLink="/detail"
        [queryParams]="{ index: i }"
      >
        <ion-thumbnail *ngIf="item.thumbs" slot="start">
          <img [src]="item.thumbs.url1 | thumbsUrl" />
        </ion-thumbnail>
        <ion-label>
          <h3
            [innerHTML]="
              item.server_filename
                | highlight: fileService.searchValue:'i':'font-highlight'
            "
          ></h3>
          <p>
            {{ item.server_mtime | myDate }}&nbsp;&nbsp;&nbsp;{{
              item.size | fileSize
            }}
          </p>
        </ion-label>
      </ion-item>
    </ion-list>
    <ion-infinite-scroll
      *ngIf="fileService.hasMore"
      threshold="500px"
      (ionInfinite)="loadMore($event)"
    >
      <ion-infinite-scroll-content
        loadingSpinner="bubbles"
        loadingText="正在加载..."
      >
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ng-container>
</ion-content>
<!-- <ion-backdrop>
  <div class="progress-container">
    <ion-progress-bar [value]="progress"></ion-progress-bar>
  </div>
</ion-backdrop> -->
<div class="update-mask" *ngIf="showProgress">
  <div class="progress-container">
    <ion-progress-bar [value]="progress"></ion-progress-bar>
  </div>
</div>