<ion-content *ngIf="!preview">
  <div class="safe-top">
    <ion-button class="exit" (click)="back()" fill="clear">
      <ion-icon
        style="color: #fff"
        slot="icon-only"
        name="close-circle"
      ></ion-icon>
    </ion-button>
  </div>
  <div class="operations">
    <div class="photo-list">
      <div *ngIf="lastFileId" class="thumb-container">
        <ion-thumbnail>
          <img appDbImage [table]="'preuploadFile'" [index]="lastFileId"/>
        </ion-thumbnail>
        <ion-badge color="primary">{{photoCount}}</ion-badge>
      </div>
    </div>
    <div class="camera-touch" (click)="takePicture()">
      <div class="camera-touch-inner"></div>
    </div>
    <div class="submit">
      <ion-button *ngIf="photoCount" color="primary" routerLink="/preupload" [replaceUrl]="true">完成</ion-button>
    </div>
  </div>
</ion-content>
<ng-container *ngIf="preview">
  <!-- <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button (click)="back()">
          <ion-icon slot="icon-only" name="close"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header> -->
  <ion-content>
    <div class="img-container safe-top">
      <img *ngIf="imageSrc" [src]="imageSrc" />
    </div>
  </ion-content>
  <ion-footer class="safe-bottom">
    <!-- <ion-toolbar>
      <ion-title>
        <ion-input
          [(ngModel)]="fileName"
          [clearInput]="true"
          (ionFocus)="onInputFocus($event)"
          class="file-name"
        >
        </ion-input>
      </ion-title>
      <ion-buttons slot="primary">
        <ion-button color="danger" fill="outline">
          <ion-icon slot="end" name="create"></ion-icon>
        </ion-button>
        <ion-button color="danger" fill="outline">
          <ion-icon slot="end" name="create"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar> -->
    <div class="footer-inner">
      <div class="filename-editor" [ngStyle]="footerStyle">
        <ion-input
          [(ngModel)]="fileName"
          [clearInput]="true"
          (ionFocus)="onInputFocus($event)"
          class="file-name"
        ></ion-input>
        <ion-button fill="clear" (click)="uploadAndContinue()">
          <ion-icon
            *ngIf="uploading !== 1"
            color="success"
            slot="icon-only"
            name="checkmark-circle-sharp"
          ></ion-icon>
          <ion-spinner *ngIf="uploading === 1" name="crescent"></ion-spinner>
          <!-- <ion-spinner name="crescent"></ion-spinner> -->
        </ion-button>
        <ion-button fill="clear" (click)="continue()">
          <ion-icon
            color="danger"
            slot="icon-only"
            name="close-circle"
          ></ion-icon>
        </ion-button>
      </div>
    </div>

    <!-- <div class="buttons">
        <ion-button fill="solid" color="primary" (click)="uploadAndContinue()">
          保存并继续
          <ion-spinner *ngIf="uploading === 1" name="crescent"></ion-spinner>
        </ion-button>
        <ion-button fill="solid" (click)="uploadAndExit()">
          保存并退出
          <ion-spinner *ngIf="uploading === 2" name="crescent"></ion-spinner>
        </ion-button>
        <ion-button fill="solid" color="danger" (click)="continue()">
          重拍
        </ion-button>
      </div> -->
  </ion-footer>
</ng-container>

<!-- <img *ngIf="image" [src]="image"> -->
<!-- <ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header> -->
<!-- <ion-content></ion-content> -->

<!-- <ion-footer>
  <div class="camera-options" >
    <div class="camera-touch">
      <div class="camera-touch-inner"></div>
    </div>
  </div>
</ion-footer> -->
