<!-- <ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="back()" fill="clear">
        <ion-icon
          style="color: #fff"
          slot="icon-only"
          name="close-circle"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title></ion-title>
    <ion-buttons slot="end">
      <ion-button color="primary" fill="clear" (click)="selectFile()"
        >相册</ion-button
      >
    </ion-buttons>
  </ion-toolbar>
</ion-header> -->

<ion-content
  (touchstart)="onTouchStart($event)"
  (touchmove)="onTouchMove($event)"
>
  <input
    style="display: none"
    #fileInput
    type="file"
    [multiple]="!id"
    accept="image/*"
    (change)="fileChange($event)"
  />

  <div class="content">
    <div class="safe-top header">
      <ion-button (click)="back()" fill="clear">
        <ion-icon
          style="color: #fff"
          slot="icon-only"
          name="close-circle"
        ></ion-icon>
      </ion-button>
      <ion-button
        color="primary"
        class="upload"
        fill="clear"
        (click)="selectFile()"
        >相册</ion-button
      >
    </div>
    <div
      #previewContainer
      id="camera-preview"
      class="camera-preview"
      [class.hide-background]="hideBackground"
      [ngStyle]="previewStyle"
    >
      <svg
        *ngIf="polygon"
        class="preview-rect"
        version="1.1"
        xmlns="http://www.w3.org/2000/svg"
      >
        <polygon
          [attr.points]="polygon"
          style="fill: none; stroke: #f00; stroke-width: 2"
        />
      </svg>
      <img
        class="snapshot"
        *ngIf="snapshots[0]"
        [src]="snapshots[0]"
        [ngStyle]="snapshotStyles[0]"
      />
      <img
        class="snapshot"
        *ngIf="snapshots[1]"
        [src]="snapshots[1]"
        [ngStyle]="snapshotStyles[1]"
      />
    </div>
    <div class="operations">
      <div class="photo-list">
        <div *ngIf="!this.id" #thumbContainer class="thumb-container">
          <!-- <img
            *ngIf="lastFile"
            [imageData]="lastFile"
            [maxHeight]="50"
            [maxWidth]="50"
          /> -->
          <ion-badge *ngIf="photoCount" color="primary">{{
            photoCount
          }}</ion-badge>
        </div>
      </div>
      <div
        class="camera-touch"
        (click)="$event.stopPropagation(); takePicture()"
      >
        <div class="camera-touch-inner"></div>
      </div>
      <div class="submit">
        <ion-button
          *ngIf="!this.id && photoCount"
          color="primary"
          (click)="submit()"
          >完成</ion-button
        >
      </div>
    </div>
  </div>
</ion-content>

<!-- <ng-container *ngIf="preview">
  <ion-content>
    <div class="img-container safe-top">
      <img *ngIf="imageSrc" [src]="imageSrc" />
    </div>
  </ion-content>
  <ion-footer class="safe-bottom">
    <div class="footer-inner">
      <div class="filename-editor" [ngStyle]="footerStyle">
        <ion-input
          [(ngModel)]="fileName"
          [clearInput]="true"
          (ionFocus)="onInputFocus($event)"
          class="file-name"
        ></ion-input>
        <ion-button fill="clear" (click)="uploadAndContinue()">
          <ion-icon
            *ngIf="uploading !== 1"
            color="success"
            slot="icon-only"
            name="checkmark-circle-sharp"
          ></ion-icon>
          <ion-spinner *ngIf="uploading === 1" name="crescent"></ion-spinner>
        </ion-button>
        <ion-button fill="clear" (click)="continue()">
          <ion-icon
            color="danger"
            slot="icon-only"
            name="close-circle"
          ></ion-icon>
        </ion-button>
      </div>
    </div>
  </ion-footer>
</ng-container> -->

<!-- <img *ngIf="image" [src]="image"> -->
<!-- <ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header> -->
<!-- <ion-content></ion-content> -->

<!-- <ion-footer>
  <div class="camera-options" >
    <div class="camera-touch">
      <div class="camera-touch-inner"></div>
    </div>
  </div>
</ion-footer> -->
