// :host {
//   background-color: #000;
//   &.hide-background {
//     background-color: transparent;
//   }
// }
:host.hide-background {
  ion-content {
    --background: transparent;
  }
  ion-footer {
    background-color: transparent;
  }
}

.img-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  img {
    max-height: 100%;
  }
}

// .exit {
//   position: absolute;
//   bottom: 60px;
//   left: 10%;
//   height: 60px;
// }
.operations {
  width: 100%;
  display: flex;
  position: absolute;
  bottom: 60px;
}
.photo-list {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  .thumb-container{
    height: 50px;
    width: 50px;
    position: relative;
    ion-badge{
      position: absolute;
      top: -10px;
      left: 35px;
    }
  }
}

.submit {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.camera-touch {
  width: 60px;
  height: 60px;
  background: #999;
  border-radius: 50%;
  padding: 5px;

  .camera-touch-inner {
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 1);
    border-radius: 50%;
    top: 0.2rem;
    left: 0.2rem;
  }
}
ion-content {
  --overflow: hidden;
  --background: #000;
}
ion-footer {
  background-color: #000;
}

// .footer {
//   position: fixed;
//   bottom: 0;
//   left: 0;
//   right: 0;
//   background: #fff;
//   padding: 10px;
//   z-index: 100;
// }
.buttons {
  text-align: center;
}

.filename-editor {
  display: flex;
  padding: 10px;
  background-color: #000;
  ion-button {
    height: 30px;
    font-size: 18px;
    --padding-end: 0;
  }
}

.file-name {
  border-radius: 10px;
  background: #dde9f7;
  --padding-start: 10px;
}

.footer-inner {
  height: 60.8px;
}
.upload{
  float: right;
}