<!-- <img *ngIf="image" [src]="image"> -->
<ion-header class="header">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [text]="''"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ items[index]?.server_filename }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [forceOverscroll]="false">
  <swiper
    *ngIf="inited"
    #swiperRef
    [zoom]="true"
    [initialSlide]="initIndex"
    [virtual]="true"
    [lazy]="{ loadPrevNext: true }"
    (slideChange)="onSlideChange($event)"
    class="mySwiper"
  >
    <ng-template swiperSlide *ngFor="let item of items">
      <div class="swiper-zoom-container">
        <img
          *ngIf="item.thumbs"
          [attr.data-src]="item | thumbsUrl: 'c8500_u5800'"
          class="swiper-lazy"
        />
      </div>
      <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
    </ng-template>
  </swiper>
</ion-content>
